@font-face {
    font-family: 'Futura';
    src: url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.eot');
    src: url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.svg#Futura') format('svg');
    src: url('futuramediumc-italic.otf');
    font-style: normal;
    font-weight: 400;
}

html {
    box-sizing: border-box;
    font-family: Futura, sans-serif;

}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

h3 {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    position: absolute;
}

.interactive-blocks-container {
    width: 100%;
    overflow: hidden;
    /*position: relative;*/
}

.interactive-item {
    width: 25%;
    height: 781px;
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    position: relative;
    transition: .4s;
    /*z-index: 10;*/
}

.interactive-item h3 {
    color: #fff;
    /*position: absolute;*/
    bottom: 102px;
    /*min-height: 83px;*/
    padding-left: 38px;
    padding-right: 38px;
    font-size: 34px;
    text-transform: uppercase;
    transition: .4s;
}

.interactive-item .read-more {
    display: block;
    width: 28px;
    height: 28px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    bottom: 46px;
    text-align: center;
    left: 37px;
    font-size: 26px;
    transition: .4s;
    cursor: pointer;
}

.interactive-item-container {
    width: 100%;
    height: 781px;
    position: relative;
    transition: .4s;
}

.interactive-item-container p {
    color: #fff;
    padding-left: 38px;
    padding-right: 38px;
}

.interactive-item-container p:first-of-type {
    opacity: 0;
    position: relative;
    top: 50px;
    transition: .4s;
}

.interactive-item.family-life .interactive-item-container {
    background: url(img/family.jpg);
    background-size: cover;
}

.interactive-item.friendly-home .interactive-item-container {
    background: url(img/room.jpg);
    background-size: cover;
}

.interactive-item.cooking .interactive-item-container {
    background: url(img/kitchen.jpg);
    background-size: cover;
}

.interactive-item.entertaining .interactive-item-container {
    background: url(img/woman.jpg);
    background-size: cover;
}

.interactive-item-content {
    position: absolute;
    bottom: -25px;
    transition: .4s;
}

.hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    /*position: absolute;*/
    /*left: -10000px;*/
}

.zindexDecrease {
    z-index: -1;
}

.itemExpanded {
    width: 110%;
    transform: translateX(-18px);
    transition: .4s;
    z-index: 100;
}

.itemExpanded .interactive-item-content {
    bottom: 60px;
    transform: translateX(17px);
    transition: .4s;
}

.itemExpanded .read-more {
    transform: translateX(17px);
    transition: .4s;
}


.itemExpanded p:first-of-type {
    top: 0;
    opacity: 1;
    transition: top .4s, opacity .8s;
    transition-delay: .2s;
}

.itemActive {
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 0 150%;
    left: 0;
    transition: .4s;
}

/*.itemActive::after {*/
    /*content: '×';*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*position: absolute;*/
    /*color: red;*/
    /*right: 30px;*/
    /*top: 14px;*/
    /*z-index: 200;*/
    /*font-size: 45px;*/
/*}*/

.entertaining.itemActiveContainer {
    transform: translateX(-300%);
    transition: .4s;
}

.cooking.itemActiveContainer {
     transform: translateX(-200%);
     transition: .4s;
}

.friendly-home.itemActiveContainer {
    transform: translateX(-100%);
    transition: .4s;
}

.close {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    right: 25px;
    top: 20px;
    cursor: pointer;
    margin-left: 244%;
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    right: 0;
    margin-top: -1px;
    background: #000;
    z-index: 200;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}